<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shekels</title>

  <link href="/assets/bootstrap.css" rel="stylesheet" />
  <link href="/assets/style.css"     rel="stylesheet" />

  <%= lissio 'app' %>
</head>
<body>
</body>
</html>
